@inherits OSMComponent

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <span class="me-2">
                @context.User.FindFirst(Claims.UniqueName)?.Value
            </span>
            <MudButton OnClick="@Logout" Variant="Variant.Filled" Color="Color.Primary">@Localizer["Logout"]</MudButton>
        </div>
    </Authorized>
</AuthorizeView>